
<div class="hero-unit" onclick="loadNewQuote()">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1>
                    <span class="quoteHolder">
                        <%= quoteBody %>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row-fluid pull-right">
        <div class="span4 vote-buttons"></div>
    </div>
</div>