 .container {
    margin-top: 10px;
}
.hero-unit {
    padding:50px 50px 50px 50px;
    background-image: url("http://unsplash.s3.amazonaws.com/batch%207/sunset-hair.jpg");
    background-size: cover;
}
#getNewButton {
    float:left;
}
/*
.hero-unit {
    height: 100%;
    min-height:200px;
}
*/
#quote {
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);
}